html {
    max-width: 1480px;
    width: 1480px;
    height: 1282px;
}
head {
    max-width: 1480px;
    width: 1480px;
    height: 1282;
}
body {
    min-width: 1480px;
    max-width: 1480px;
    width: 1480px;
    height: 1282px;
}
.headertext {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    line-height: 94px;
    display: inline-block;
    text-align: center;
    color: #000000;
    position: absolute;
    width: 334px;
    height: 79px;
    left: 98;
    top: 63;
    right: 1048;
    bottom: 1140;
    padding-left: 300px;
    padding-top: 60px;
}
.colortext {
    color: rgb(8, 205, 240);
}
.top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-left: 300px;
    height: 72px;
    width: 1283px;
    top: 180px;
    left: 98px;
    right: 99px;
    bottom: 1030px;
    margin-left: auto;
    margin-right: auto;   
}
.list-menu {
    border: 2px solid black;
    border-color: transparent;
    background: #35444F;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
    margin: 5px 0px 5px 2px; 
    position: relative;
    font-size: 24px;
    list-style-type: none; 
}
.top-menu li {
    cursor: pointer;
}
.top-menu li > a {
    display: inline-block;
    text-decoration: none;
}
.listfirst {
    width:193px;
    padding: 20px ;
    height: 20px;
}
.list1  {
    width:762px;
    padding: 20px ;
    height:20px;
}
.list2 {
    width:153px;
    padding: 20px ;
    height: 20px;
}
.list3  {
    width:552px;
    padding: 20px ;
    height: 20px;
}

.list-menu:link {
    padding: 2px;
    color: #35444F;
    border-color: transparent;
}
.list-menu:hover {
    background-color: #222F3A;
    color: #222F3A;
    border-color: transparent;
}
.list4 {
    width:698px;
    padding: 20px ;
    height: 20px;
    text-align: left;
}
.link {
    display: flex;
    justify-items: center;
    text-align: center;
    height:100%;
    color: white;
    text-decoration: none; 
}
.left-menu-border {
    border: 1px solid #000000;
    border-color: rgb(19, 20, 20);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 344px;
    height: 399px;
    left: 0px;
    top: 0px;
    margin-left: 302px;
    margin-top: 48px; 
}
.left-side-menu {
    border: 2px solid black;
    border-color: transparent;
    background: rgba(0, 0, 0, 0.0001);
    color: #495863;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 14px 18px 14px 18px;
    display: flex;
    flex-direction: column;
    vertical-align: left;
    position: relative;
    font-size: 27px;
    list-style-type: none; 
    line-height: 27px;
    justify-content: flex-start;
    padding: 25px 55px 25px 55px;  
}
.left-side-link:link {
    padding: 2px;
    background: #DBDBDB;
    color: #35444F;
}
.left-side-menu:hover {
    padding: 25px;
    background: #DBDBDB;
    color: #35444F;
}
.left-menu-border li {
    cursor: pointer;
}
.left-menu-border li > a {
    display: inline-block;
}   
.border-image {
    position: absolute;
    width: 885px;
    height: 529px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-left: 690px;
    margin-top: 319px;
}
.image {
    width: 320px;
    height: 381px;
    left: 297px;
    top: 75px;
    display: inline-block;
    position: relative;
}
.paragraph {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    align-items: flex-end;
    color: #2C2C2C;
}
.paragraph-1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-basis: 50%;
    text-align: justify;
    color: #2C2C2C;
    position: absolute;
    margin-top: 190px;
    margin-left: 685px;
    width: 885px;  
}
.paragraph-2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-basis: 50%;
    text-align: justify;
    color: #2C2C2C;
    position: absolute;
    margin-top: 370px;
    margin-left: 685px;
    width: 885px;
}
.ul-container { 
    width: 1280px;
    height: 69px;
    left: 0px;
    top: 0px;
    background: rgba(99, 105, 110, 0.48);
    border: 1px solid black;
    display: flex;
    align-content:flex-end;
    position: relative;
    text-align: justify;
    margin-top: 540px;
    margin-left: 305px;
    width: 1270px;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
}
.ul-container a {
    display: inline-block;
    padding: 10px;
}
.li-items {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    text-align: justify;
    position: relative;
    display: flex;
    align-items: center;
    left: 30px;
    color: #0C1927;
    word-spacing: 5px;
    bottom: 5px;
    font-size: 24px;
}
.list-marker {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-top: 9px;
    color: #010101;
    line-height: 28px;
    text-align: justify;
    right: 40px;
    word-spacing: 5px;
    bottom: 5px;
}   
.ul-container:link { 
    padding: 2px;
    color: #3181A6;
    text-decoration: #3181A6;   
} 
.ul-container:hover {
    letter-spacing: none;
    color: #3181A6;
    text-decoration: #3181A6; 
}  
.ul-container li {
    cursor: pointer;
}
.ul-container li > a {
    display: inline-block;
    text-decoration: none;
    color: #0C1927;
}
.ul-container li > a:hover {
    color: #3181A6;
    text-decoration: underline #3181A6;
}